body {
    margin: 0;
    min-height: 100vh;
}

:root {
    --left-img-width: 50%;
    --container-height: 200px;
    --container-size: 950px;
    --drag-cursor: grab;
}

.img-container {
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    width: var(--container-size);
    height: var(--container-size);
    min-width: 800px;
    max-height: 800px;
    background-color: rebeccapurple;
    cursor: pointer;
}

.hubble-img {
    background-repeat: no-repeat;
    background-image: url("../img/hubble.jpeg");
    background-size: var(--container-size) 100%;
    height: 100%;
    width: var(--left-img-width);
    /* transition: width .5s; */
    position: relative;
}

.webb-img {
    background-repeat: no-repeat;
    background-image: url("../img/webb.jpeg");
    background-size: var(--container-size) 100%;
    height: 100%;
    background-position-x: 100%;
    flex-grow: 1;
}

.divider {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: white;
    right: -1px;
    cursor: var(--drag-cursor);
}

:is(.arrows span,.divider)::selection {
    display: none;
}

.arrows {
    color: white;
    position: absolute;
    font-size: 2em;
    width: 80px;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    inset: 0;
    left: calc(var(--left-img-width) - 40px);
    top: calc(50vh - 1em);
    cursor: var(--drag-cursor);
    
    /* transition: left .5s; */


}

/* .divider:before {
    content: '<';
    position: absolute;
    width: 0;
    background-color: white;
    color: white;
    font-size: 2em;
    top: calc(50vh - 1em);
    left: -40px;
}

.divider:after {
    content: '>';
    position: absolute;
    width: 0;
    background-color: white;
    color: white;
    font-size: 2em;
    top: calc(50vh - 1em);
    right: -20px;
  
} */
